/* Created by Dot_Silver */

#grad1 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #4D96F9, #0E54B3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #4D96F9, #0E54B3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #4D96F9, #0E54B3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #4D96F9, #0E54B3); /* Standard syntax (must be last) */
}

#grad2 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #2335a4, #cf0505); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #2335a4, #cf0505); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #2335a4, #cf0505); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #2335a4, #cf0505); /* Standard syntax (must be last) */
}

#grad3 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #20439e, #1c3067); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #20439e, #1c3067); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #20439e, #1c3067); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #20439e, #1c3067); /* Standard syntax (must be last) */
}

#grad4 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #c85429, #a12222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #c85429, #a12222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #c85429, #a12222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #c85429, #a12222); /* Standard syntax (must be last) */
}

#grad5 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #f4f4f4, #cecece); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #f4f4f4, #cecece); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #f4f4f4, #cecece); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #f4f4f4, #cecece); /* Standard syntax (must be last) */
}

#grad6 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #6f0e94, #b80001); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #6f0e94, #b80001); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #6f0e94, #b80001); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #6f0e94, #b80001); /* Standard syntax (must be last) */
}

#grad7 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #3f3f3f, #0091ad); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #3f3f3f, #0091ad); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #3f3f3f, #0091ad); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #3f3f3f, #0091ad); /* Standard syntax (must be last) */
}

#grad8 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #088000, #4fff58); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #088000, #4fff58); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #088000, #4fff58); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #088000, #4fff58); /* Standard syntax (must be last) */
}

#grad9 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #1a2fb4, #3861e4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #1a2fb4, #3861e4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #1a2fb4, #3861e4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #1a2fb4, #3861e4); /* Standard syntax (must be last) */
}

#grad10 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #008082, #00ba95); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #008082, #00ba95); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #008082, #00ba95); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #008082, #00ba95); /* Standard syntax (must be last) */
}

#grad11 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #AF2327, #6B3237); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #AF2327, #6B3237); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #AF2327, #6B3237); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #AF2327, #6B3237); /* Standard syntax (must be last) */
}

#grad12 {
    height: 30px;
    width: 440px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #344b9c, #1a275f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #344b9c, #1a275f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #344b9c, #1a275f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #344b9c, #1a275f); /* Standard syntax (must be last) */
}