table{
	width: 100%;
}
td{
	width: 50%;
}
td.head{
	height: 50%;
}
#safe-img ,#danger-img{
	width: 50%;
}
.topic_btn{
	border: 0;
	background-color: #ddd9d3;
	color: #701d3c;
	text-decoration: none;
	padding: 12px 20px 12px 20px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
}
.topic_btn::after{
	content: " →";
}