body{
	margin: 0;
	background-color: #EEE; /* #eae6e5 */
	color: #3c3c3c;
	font-family: 'Helvetica Neue', "Arial", sans-serif;
	font-size: 18px;
}
body:focus{
	filter: brightness(125%);
}
::selection {
	color: #ddd9d3;
	background: #701d3c;
}
::-moz-selection {
	color: #ddd9d3;
	background: #701d3c;
}
a:link{
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-ms-transition: all .15s linear;
	transition: all .15s linear;
	color: #701d3c;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
}
a:hover{
	filter: brightness(140%);
}
a.boxheader_float_right{
	float: right;
}
p{
	margin: 0;
}
button{
	border: 0;
	background-color: #ddd9d3;
	color: #701d3c;
	text-decoration: none;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-ms-transition: all .15s linear;
	transition: all .15s linear;
	font-weight: normal;
	font-size: 18px;
	padding: 10px 15px 10px 15px;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
}
button:hover{
	filter: brightness(140%);
	background-color: #E4E1DC;
	
	text-shadow: 0 0 0.5px #FFFFFF;
}
button a{
	color: transparent;
	text-decoration: none;
}
img a{
	color: transparent;
	text-decoration: none;
	
	display: block;
}
.topic_btn{
	border: 0;
	background-color: #ddd9d3;
	color: #701d3c;
	text-decoration: none;
	padding: 12px 20px 12px 20px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
}
.topic_btn::after{
	content: " →";
}
.redhghl{
	color: #ff4242;
}
.italic{
	color: #ababab;
	font-style: italic;
}
textarea.txtbox{
	font-family: 'Consolas', sans-serif;
	background-color: #DDD9D3;
	height: 5em;
	width:75%;
	max-height: 350px;
	max-width: 500px;
	padding: 3px;
	margin: 10px 8px 4px 8px;
	border-left: 3px #3c3c3c solid;
	border-right: none;
	border-bottom: none;
	border-top: none;
	color: #7F7F7F;
	outline: none;
	resize: none;
}
#header{
	width: 100%;
	border: 0;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: -moz-use-text-color;
		border-right-color: -moz-use-text-color;
		border-bottom-color: -moz-use-text-color;
		border-left-color: -moz-use-text-color;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image-source: none;
		border-image-slice: 100% 100% 100% 100%;
		border-image-width: 1 1 1 1;
		border-image-outset: 0 0 0 0;
		border-image-repeat: stretch stretch;
	top: 0px;
	left: 0px;
	display: block;
	vertical-align: bottom;
	height: 59px;
}
#footer{
	border: 0;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: -moz-use-text-color;
		border-right-color: -moz-use-text-color;
		border-bottom-color: -moz-use-text-color;
		border-left-color: -moz-use-text-color;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image-source: none;
		border-image-slice: 100% 100% 100% 100%;
		border-image-width: 1 1 1 1;
		border-image-outset: 0 0 0 0;
		border-image-repeat: stretch stretch;
	display: block;
	height: 137px;
	width: 100%;
	
	/*position:fixed;*/
	left:0px;
	bottom:0px;
}
#content{
	margin-bottom: 40px;
}
#page{
	display: block;
	margin: 0 auto;
	width: 100%;
	/*margin-bottom: 10%;*/
	
}
#titlebox{
	margin: 0 auto;
	margin-bottom: 48px;
	clear: both;
	text-align: center;
}
#main-img{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	
	/*display: block;*/
	margin: 0 auto;
	width: 100%;
}
.box{
	display: block; 
	margin: 0 auto; 
	margin-bottom: 48px;
	max-width: 960px;
	padding: 0 20px;
}
.boxheader{
	background-color: #DDD9D3;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	padding: 30px 40px 30px 40px;
	display: block;
	margin: 0 auto;
}
.boxcenter{
	animation-name: boxcenter_unroll;
	animation-duration: 2s;
	
	background-color: #E4E1DC;
	padding: 30px 40px 30px 40px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.boxcenter-text-left{
	text-align: left;
}
.boxcenter div{
	display: inline;
}
#main-img-link {
	margin-top: 68px;
	margin-left: 13px;
	margin-right: 20px;
	margin-bottom: 48px;
}
li.list-mid-item {
	list-style-type: '├─ ';
}
li.list-last-item {
	list-style-type: '└─ ' ;
}
li.no-bullet {
	list-style-type: none;
}
.codebox{
	background-color: #DDD9D3;
	border: 0;
	border-left: 3px #3c3c3c solid;
	margin: 1em 20px 1em 20px;
	padding: 6px 15px 6px 15px;
	text-align: left;
	color: #7F7F7F;
	min-height: 45px;
}
legend.fname{
	color: #3C3C3C;
}
@keyframes boxcenter_unroll {
	0% {
	padding: 0px 40px 0px 40px;
	visibility: hidden;
	}
	100% {
	padding: 30px 40px 30px 40px;
	visibility: visible;
	}
}
/*--Specific: Ocean Designing*/
body.ocbg{
	min-height: 100%;
	background-color: rgb(77,150,249);
	background-image: radial-gradient(#4D96F9, #0E54B3);
	background-image: -webkit-radial-gradient(#4D96F9, #0E54B3);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
/*--Specific: 1337*/
.sepratr {
	margin-left: 20px;
	padding-left: 15px;
	border-left: 3px #3C3C3C solid;
	text-align: left;
}
/*--Specific: Transparent Pages*/
.boxshadow{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
body.trpgbg{
	background-image: url("http://dotsilver.net/overall/images/tr_bg-v3.png");
	background-size: 200px;
}
div.trpg_link_box{
	margin: 0 12px 0 12px;
	display: inline-block; 
}
a.trpg_link{
	text-align: center;
	display: block;
}
img.trpg_link_img{
	width: 16px; 
	height: 16px; 
	margin-top: 5px; 
	margin-right: 4px;
}
/*--Specific: Frequently Asked Questions*/
ul.question_list{
	list-style: disc;
	list-style-type: disc;
	list-style-image: none;
	list-style-position: outside;
	margin-left: 0px;
}
li.question{
	margin-left: 0px;
	margin-bottom: 5px;
	line-height: 1.7em;
}
li.question:target {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	/*filter: invert(75%) saturate(30%);*/
	border: 3px #ff4242 solid;
	padding: 8px;
	box-shadow: 0px 0px 25px #ff4242;
	margin-top: 18px;
}
li.question:target:hover {
	filter: contrast(125%) brightness(105%);
}
blockquote.answer{
	margin-left: 20px;
	padding-left: 15px;
	border-left: 3px #3C3C3C solid;
	color: #7F7F7F;
}
a.hghl:hover{
	display: block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
strong.q{
	display: block;
}
strong.q:hover > a.perma{
	visibility: visible;
}
a.perma{
	margin-left: 4px;
	visibility: hidden;
}
/*--Specific: About*/
#logo{
	max-width: 88px;
	max-height: 84px;
	min-width: 44px;
	min-height: 42px;
	width:10%;
	height:10%;
}
/*--Specific: Lab*/
input.pastebox {
	background-color: #DDD9D3;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: text;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	outline: none;
	width: 50%;
	max-width: 450px;
}
input.pastebox:hover {
	filter: brightness(75%);
}
input.pastebox:active {
	filter: brightness(50%);
}
